* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grisClaro);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    /* border: 3px solid green; */
    background-color: var(--amarillo);
    flex-direction: column;
}

/************ HEADER ****************** */
.logo-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

/**MENU HAMBURGUEZA */
.burger-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
}

/**MENU NAVEGACION */
.menu-container {
    /* border: 3px solid red; */
    display: none;
}

.logo-bar-container {
    /* border: 3px solid gray; */
    display: flex;
}

.card-container {
    /* border: 3px solid gray; */
    padding: 15px;
}

.logo {
    /* border: 3px solid pink; */
    width: 50%;
    padding: 10px;
}

.search-button-container {
    display: flex;
    /* border: 3px solid pink; */
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-container {
    /* border: 3px solid brown;  */
    display: flex;
    height: 25px;
    width: 90%;
}

.card-title {
    font-weight: 400;
    text-align: center;
}

.card-title i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    display: flex;
    /* border: 1px solid black;  */
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}

/************ FIN HEADER ***************/

/************ PRODUCTOS ***************/
main h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.last-visit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-visit .products {
    width: 95%;
}

.products article {
    background-color: var(--blanco);
    padding: 10px 0;
}

.main-article {
    border-top: 1px solid var(--grisClaro);
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.products article {
    padding: 10px 0;
}

main section article i {
    border-radius: 50%;
    color: var(--verde);
    border: 1px solid var(--verde);
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: var(--blanco);
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
    color: var(--verde);
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: var(--grisOscuro);
}

main section article {
    margin-bottom: 20px;
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers .products {
    width: 95%;
}

main section div.products article i {
    transition: transform 1s;
}

main section div.products article:hover i {
    transform: rotate(-90deg);
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .description {
    display: block;
}

/************ FIN PRODUCTOS ***************/

/************ FOOTER ***************/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

footer h3,
p {
    margin: 0;
    padding: 0;
}

footer section {
    color: var(--grisOscuro);
    padding: 15px;
}

footer .body-pie {
    font-size: 12px;
}

footer .icon-footer {
    font-size: 2em;
    color: var(--celeste);
    transition: all 0.4s ease-in;
}

footer .icon-footer:hover {
    color: var(--amarillo);
    transform: rotateY(180deg);
    transition: all 0.4s ease-in;
}

footer .pie-footer {
    text-align-last: left;
    margin-top: 10px;
}

/************ FIN FOOTER ***************/

/************ MEDIA QUERY ***************/
@media (min-width: 768px) {

    .logo-container {
        flex-direction: row;
    }

    .logo-bar-container {
        width: 50%;
    }

    .card-container {
        display: flex;
        width: 50%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .card-container h2 {
        font-size: 16px;
    }

    .burger-container {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    ul {
        /* border: 3px solid orange; */
        display: flex;
        width: 45%;
        justify-content: space-between;
    }

    /************** PRODUCTO **************/
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 49%;
    }

    /************** FIN PRODUCTO **************/
}

@media (min-width: 1024px) {
    .card-container h2 {
        font-size: 22px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 24%;
    }

    /************** FOOTER **************/
    footer div {
        display: flex;
    }

    /************** FIN FOOTER **************/
}

/************ FIN MEDIA QUERY ***************/